body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 90%;
    background-color: #57385c;
}

main {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
}
ul {
    list-style: none;
}

aside {
    text-align: justify;
    max-width: 250px;
    
    display: flex;
    min-width: 200px;
    height: 90vh;
    overflow: auto;
    background-color: #a75265;
    
}

article {
    text-align: justify;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #ec7263;
    margin-left: 10px;
    margin-right: 10px;
}
section {
    
    width: 70%;
    overflow:auto;
    height: 90vh;
    background-color: #a75265;
}

@media screen and (max-width:768px) {
    aside {
        display: none;
    }

    section {
        width: 100%;
    }

}

li {
    margin-top: 19px;
    color: #febe7e;
    font-size: 20px;
    transition: all 400ms ease;
    margin-right: 30px;
    
}

h1 {
    color: #febe7e;
}
section article p {
    font-size: 20px;
    color: #57385c;
}

li:hover {
    color: #57385c;
    background-color: #febe7e;
    cursor: pointer; /*Cambia el cursor a una manita*/

}

section::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
      /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
section::-webkit-scrollbar-thumb {
    background: #febe7e;
    border-radius: 4px;
}

aside::-webkit-scrollbar-thumb {
    background: #febe7e;
    border-radius: 4px;
}

aside::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
      /* Ocultar scroll */
}