a {
    color: #117a37;
}
body {
    background-color: #1c1e1f;
}

p {
    color: aliceblue;
}

h1 {
    color: aliceblue;
}
h3 {
    color: aliceblue;
}
h4 {
    color: aliceblue;
} 
h5 {
    color: aliceblue;
}