.texto1 {
    height: 400px;
    margin-top: 50px;
}

.why {
    height: 100%;
    width: 100%;
    object-fit:cover ;
}
.img2 {
    margin-top: 50px;
}
footer {
    height: 50px;
    background-color: rgb(255, 248, 238);
}
.foo {
    height: 100%;
}